*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  max-width: 1300px;
  margin:0 auto;
 
}

.inside-container{
  max-width: 1280px;
  margin:0 auto;
  /* box-shadow: 1px 1px 4px 1px gray; */
  padding:0 10px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}


/* nav */

.navbar{
 
  background: teal;
 position: sticky;
 top:0;
 z-index: 10;
}
nav{
  max-width: 1200px;
  margin:0 auto;
  background: teal;
}



nav .logoBtn {
  display: flex;
  justify-content: space-between;
  background: teal;
  padding:10px;
  align-items: center;
  border-bottom: 1px solid rgb(180, 180, 180);
}

nav .logoBtn a {
 color: white;
 display: flex;
 align-items: center;
 opacity: 1;
}

nav .logoBtn a:hover {
 opacity: 0.9;

 }

nav .logoBtn a img{
 width: 45px;
 margin-right: 5px;
 }

 nav .logoBtn a p {
display: flex;
align-items: center;
font-size: 25px;
font-style: oblique;
 
   }

   nav .logoBtn a p span {
    display: flex;
    align-items: center;
     color:red;
    font-size: 30px;
 }

nav .logoBtn .hamburger {
  border:1px solid white;
   display: inline-block;
   cursor: pointer;
  
 }
 

nav .logoBtn .hamburger .bar{
 background: lightgrey;
 padding:1px;
 margin:4px ;
 width: 35px;
 height: 3px;

}

.links-nav li a{
 font-size: 18px;
 color:white;
 padding: 10px;
 display: block;
transition: all 0.5s ease-in-out;
margin:2px 0;

}

.links-nav li a:hover{
  font-size: 18px;
  color:white;
  padding: 10px 20px;
  display: block;
  color:lightgray;
 
 
 }






.shopping-icon{
  display: none;
 
}

.mobile-shopping{
  display: block;
  color: white;
  cursor: pointer;
  position: relative;
  
  display: flex;
  align-self: center;
  margin-top: 5px;
}

.mobile-shopping span {
  color: white;
  cursor: pointer;
  position: absolute;
  top:-8px;
  left: 9px;
  color:white;
  background: red;
  width:20px;
  border-radius: 50%;
  text-align: center;
}


.links-navigation{
  background: teal;
  position: fixed;
  bottom: 0;
  top:0;
  
  transform: translateX(-100%);
  width:100%;
  transition: all 0.5s ease-in-out;
 }

 .new-links-navigation{
  background: teal;
  position: fixed;
  bottom: 0;
  top:0;
 
  width:100%;
  transition: all 0.5s ease-in-out;
 }

.nav-btn{
  margin:10px 20px;
  position: relative;
  text-align: right;
  font-size: 30px;
  color: white;
 
}

.nav-btn span{
 cursor: pointer;
 
}


/* responsive */
@media screen and (min-width:664px){



  
  nav .logoBtn .hamburger {
  display: none;
    
   
}

nav .logoBtn {

  border-bottom: none;
  padding:0;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:5px 20px;
}

.links{
 /* border:1px solid green; */
display: flex;

flex:1;
justify-content: flex-end;

 
}

.links-nav{
  display: flex;
  
}

.links-nav li a{
  padding: 10px;
  margin-right: 2px;
  margin-left: 2px;
}
 
.links-nav li a:hover{
  color:lightgray;
  padding: 10px;
  }

 
  

  .shopping-icon{
    color: white;
    cursor: pointer;
    position: relative;
    
    display: flex;
    font-size: 18px;
   
  }
  
  .shopping-icon span{
    color: white;
    cursor: pointer;
    position: absolute;
    top:-12px;
    left: 39px;
    color:white;
    background: red;
    font-size: 14px;
    width:20px;
    border-radius: 50%;
    text-align: center;
  }

  .mobile-shopping{
    display: none;

  }

  .links-navigation{
    background: teal;
    position: relative;
    bottom: auto;
    top:auto;
    transform: translateX(0%);
    
    width:auto;
    transition: all 0.5s ease-in-out;
   }

   .new-links-navigation{
    background: teal;
    position: relative;
    bottom: auto;
    top:auto;
     
    width:auto;
    transition: all 0.5s ease-in-out;
   }

   .nav-btn{
  display: none;
   
  }
}


/* about */


.about-img{
  width:300px;
margin: 20px auto;
border:1px solid lightgrey;
padding:10px;

}

.about-img img{
 width:100%;
}

.about-details{
  flex:1;
}

.about-details p{
font-size: 18px;
color: rgb(63, 63, 63);
}

.about-details b{
  font-size: 30px;
  color:crimson;
  font-style: italic;
}


@media (min-width:664px){
  .about-center{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .about-img{
    width:350px;
  margin: 20px auto;
  
  }

  .about-details{
    flex:1;
    margin-left: 20px;
  
  }



}


